{% load static staticfiles i18n cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% page_attribute "page_title" %}</title>
        {% addtoblock "css" %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% endaddtoblock "css" %}
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        {% placeholder "content" %}
        <footer>
            {% static_placeholder 'footer' %}
        </footer>
        {% render_block "js" %}
    </body>
</html>
